body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

body.light-theme h1, body.light-theme h2{
    color: #000000;
}

body.dark-theme {
    background-color: #12141D;
    color: #ffffff;
}
body.dark-theme h1, body.dark-theme h2 {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.banner{
    margin: 20vh 0;
}

.banner article h2{
    font-weight: 650;
}

.key_features_content{
    margin: 8vh 0 17vh;
    background-color: #1E2029;
    padding: 50px 50px;
    border-radius: 15px;
}

.key_features_icon{
    padding: 10px 13px;
    background-color: #000000e1;
}

.creative_solutions_track_of_work{
    padding: 20px 20px 20px 40px;
    background-color: #1E2029;
}

.creative_solutions_track_of_work_content{
    margin: 6pc 0 6pc;
}

.box_for_track_description{
    background-image: linear-gradient(to right,#F58C7B,#F25D46  );
    padding: 0 0 35px;
}

.greeting_box{
    background-color: #F58C7B;
    position: relative;
    top: 8px;
}

.greeting_box_content {
    position: relative;
    right: 35px;
}

.greeting_fline{
    border: 5px solid rgb(17, 114, 4);
    border-radius: 10px;
    width: 40%;
}

.greeting_sline{
    border: 5px solid rgb(252, 2, 2);
    border-radius: 10px;
    width: 25%;
}

.box_for_date_of_track{
    background-color: #f0f0f0;
}

.date_of_track{
    background-color: white;
    box-shadow: 0px 0px 6px gray;
}

.first_line{
    border: 5px solid rgba(49, 4, 49, 0.904);
    border-radius: 10px;
}

.second_line{
    border: 5px solid rgb(252, 2, 2);
    border-radius: 10px;
}

.two_in_one_line{
    border: 5px solid rgb(252, 235, 2);
    border-radius: 10px;
}

.last_line{
    border: 5px solid rgb(117, 117, 112);
    border-radius: 10px;
}

.how_it_works{
    margin: 17vh 0;
}

.how_it_works_row{
    background-color: #1E2029;
    padding: 5pc 0;
    border-radius: 10px;
    margin-top: 4pc;
}

.how_it_works_first_col{
    display: flex;
    justify-content: end;
}

.how_it_works_first_col_div{
    text-align: end;
}

.how_it_works_third_col{
    display: flex;
    justify-content: start;
}
.how_it_works_third_col_div{        
    text-align: start;
}

.vert_line{
    border-left: 5px dotted #67686b23;
    height: 10pc;
    position: relative;
    left: 37px;
}

.price_plan{
    margin-bottom: 17vh;
}

.prices_box{
    background-color: #1E2029;
    border-radius: 10px;
}

.price_plan i{
    font-size: 26px;
    line-height: 1.5px;
}

.price_plan .free button{
    background-color: #04AA69;
}

.price_plan .basic button{
    background-color: #FF7661;
}

.price_plan .premium button{
    background-color: #855AFF;
}

.Testimonials{
    margin-bottom: 17vh;
}

.testimonials_boxes{
    background-color: #262830;
    border-radius: 10px;
}

.bi-quote{
    float: inline-end;
    position: relative;
    bottom: 30px;
}

.Faq-row{
    background-color: #262830;
    padding: 50px 0;
    margin-bottom: 17vh;
    border-radius: 7px;
}

.first_FAQ{
    background-color: #2a2b30;
    border-radius: 8px;
    margin: 20px 0;
    padding: 20px;
}

.FAQ .Faq-nums p{
    padding: 12px 16px;
}

footer ul li{
    list-style: none;
    text-decoration: none;
    line-height: 29px;
}

footer ul li a{
    color: #828386;
}



@media (max-width: 767px) {
    .key_features_content{
        padding: 18px 18px;
    }

    .how_it_works_first_col{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .how_it_works_first_col{
        display: flex;
    }
    .how_it_works_first_col_div{        
        justify-content: center;
        width: 50%;       
        text-align: center;
    }

    .how_it_works_first_col_div article{
        background-color: #262830;
        margin: 2px 0;
        padding: 15px;
        border-radius: 6px;
    }

    .how_it_works_third_col{
        display: flex;
        justify-content: center;
    }

    .how_it_works_third_col_div{ 
        width: 50%;       
        justify-content: center;
        text-align: center;
    }
    
    .how_it_works_third_col_div article{
        background-color: #262830;
        padding: 15px;
        border-radius: 6px;
        margin: 2px 0 2px;
    }

 
}